* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

@font-face {
    font-family: 'Neua Machina';
    src: url('../fonts/neue-machina-regular.otf');
}

body {
    background-color: black;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.main {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid white;
    border-radius: 1rem;
}

.main::before,
.main::after {
    content: '';
    background-image: url('../img/background.svg');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    width: 140vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.main::after {
    content: '';
    top: auto;
    left: auto;
    bottom: 0;
    right: 0;
    rotate: 180deg;
}

@media screen and (min-width: 768px) {
    .main {
        max-width: 1024px;
        margin: 1rem auto;
    }

    .main::before,
    .main::after {
        width: 70vw;
    }
}